* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.displayNumber {
    min-height: 40px;
    min-width: 100px;
    max-height: 40px;
    padding-right: 20px;
    border-radius: 15px;
    padding-left: 20%;
    display: flex;
    background-color: gray;
}

.container {
    margin-top: 200px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.operators {
    display: flex;
}

.btnGroup0, .btnGroup1, .btnGroup2,
.btnGroup3 {
    display: flex;
}
button {
    min-height: 50px;
    min-width: 50px;
    font-size: 30px;
}
